/* Header */
.headFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.headList {
  /* display: none; */
  align-items: center;
  height: 100%;
}
.headFont {
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.8px;
}
.headBox {
  height: 100%;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 18px;
}
.nameStyle {
  padding: 8px;
  border-radius: 50%;
  font-weight: 900;
  font-size: 16px;
}
/* End Header */
/* Start Footer */
.footerBox {
  height: 65px;
  width: 100%;
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.customerFooter {
  height: 65px;
  width: 100%;
  /* margin-top: 50px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.footerInnerBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5vw;
}
.footerText {
  font-weight: 900;
  font-size: 18px;
  line-height: 140%;
}
.footSmText {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.footerIcon {
  display: flex;
  gap: 3px;
  align-items: center;
}
/* End Footer */

/* Responsive Mobile Header + Footer*/
.upperBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerMobileFont {
  font-weight: 900;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.8px;
}
.headerMobileFontSelect {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.8px;
}
/* End Responsive */
